<mat-toolbar fxLayout>
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div>
        <button mat-button>
          <span class="copyright"><b>Pawan Tiwari@Copyright 2021</b></span>
        </button>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>